<template>
    <div v-if="validUser" class="h-screen flex items-center 
              justify-center border rounded">

        <img src="https://avataaars.io/" style="width:75px;height:auto"/>

        <div>

            <p>email: {{email}}</p>

            <br style="display:block;content: '';margin-top: 10px;"/>

            <p>username: {{username}}</p>

        </div>


    </div>

    <div v-else-if="userExists" class="h-screen flex items-center 
              justify-center border rounded">

        <h2 style="text-align:center">
            You don't have access to this user page. Please, try again!
            <br>
            <NuxtLink to="/sign-in" class="no-underline hover:underline" style="color:blue;">GO TO SIGN-IN</NuxtLink>
        </h2>

    </div>
    <div v-else-if="serverError" class="h-screen flex items-center 
              justify-center border rounded">

        <h2 style="text-align:center">
            A server fail ocurred. Please, try again!
            <br>
            <NuxtLink to="/sign-in" class="no-underline hover:underline" style="color:blue;">GO TO SIGN-IN</NuxtLink>
        </h2>

    </div>

    <div v-else class="h-screen flex items-center 
              justify-center rounded">

        <h2 style="text-align:center">
            This user does not exist. Please, try again!
            <br>
            <NuxtLink to="/sign-in" class="no-underline hover:underline" style="color:blue;">GO TO SIGN-IN</NuxtLink>
        </h2>
        
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        async asyncData(context) {
            if (context.store.state.accessToken === "") {
                    context.redirect("/sign-up");
                return;
            }
            const config = {
                headers: {
                    Authorization: "Bearer " + context.store.state.accessToken,
                }
            }

            const start = new Date().getTime();
            for (let i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > 10000){
                break;
                }
            }

            try {
                const response = await axios.get("http://localhost:5000/600/users/"+context.route.params.id, config);
                if (response.status === 200) {
                    return {
                        email: response.data.email,
                        username: response.data.username,
                        validUser: true
                    }
                }
            } catch (err) {
                if (err.response.status === 403) {
                    return {
                        userExists: true,
                    }
                } else if (err.response.status !== 401) {
                    return {
                        serverError: true,
                    }
                } else {
                    return {
                        userExists: false,
                    }
                }
            }
        },
        data() {
            return { 
                email: "",
                username: "",
                validUser: false,
                userExists: false,
                serverError: false
            }
        },
    }
</script>