<template>
    <div class="h-screen flex flex-col items-center 
              justify-center border  rounded">
        <form style="width:350px" @submit.prevent="submit()">

            <div>
                <input v-model="email" :class="{'errorInput': errors.email.length}"
                type="text" placeholder="  Email" style="border-width:1px;width:100%">

                <div v-if="errors.email.length" style= "height:42px">
                    <p v-for="error in errors.email" :key="error" style="color:red;font-size:12px;">{{error}}</p>
                </div>

                <div v-else style="height:42px">
                </div>

            </div>

            <div>
                <input v-model="password" :class="{'errorInput': errors.password.length}"
                type="password" placeholder="  Password" style="border-width:1px;width:100%">
                
                <div v-if="errors.password.length==2" style="height:42px">
                    <p v-for="error in errors.password" :key="error" style="color:red;font-size:12px;">{{error}}</p>
                </div>

                <div v-else-if="errors.password.length==1" style= "height:42px">
                    <p v-for="error in errors.password" :key="error" style="color:red;font-size:12px;">{{error}}</p>
                </div>

                <div v-else style="height:42px">
                </div>

            </div>

            <div>
                <input v-model="username" :class="{'errorInput': errors.username.length}"
                type="text" placeholder="  Username" style="border-width:1px;width:100%">
                
                <div v-if="errors.username.length==2" style="height:42px">
                    <p v-for="error in errors.username" :key="error" style="color:red;font-size:12px;">{{error}}</p>
                </div>

                <div v-else-if="errors.username.length==1" style= "height:42px">
                    <p v-for="error in errors.username" :key="error" style="color:red;font-size:12px;">{{error}}</p>
                </div>

                <div v-else style="height:42px">
                </div>

            </div>

            <div class="flex justify-around">
                <button type="button" @click="clearAll">Clear</button>
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>

            <br>

            <p style="text-align:center">Already an user? <NuxtLink to="/sign-in" class="no-underline hover:underline" style="color:blue">Sign-in now</NuxtLink>!</p>
        </form>
    </div>
</template>

<script>
    import axios from 'axios';
    /* eslint-disable */
    import jwt_decode from 'jwt-decode';
    /* eslint-enable */

    import {validateEmail, validatePassword, validateUsername} from '../utils/validate.js';

    export default {
        data() {
            return {
                email: "",
                password: "",
                username: "",
                errors: {
                    email: [],
                    password: [],
                    username: [],
                }
            }
        },
        methods: {
            clearAll() {
                this.email = [];
                this.password = [];
                this.username = [];
            },
            submit() {
                
                this.errors = {
                    email: [],
                    password: [],
                    username: [],
                }
                
                let hasErrors = false;

                const emailValidation = validateEmail(this.email);
                const passwordValidation = validatePassword(this.password);
                const usernameValidation = validateUsername(this.username);

                if (emailValidation.status === "error") {
                    this.errors.email = emailValidation.errors;
                    hasErrors = true;
                }

                if (passwordValidation.status === "error") {
                    this.errors.password = passwordValidation.errors;
                    hasErrors = true;
                }

                if (usernameValidation.status === "error") {
                    this.errors.username = usernameValidation.errors;
                    hasErrors = true;
                }

                if (hasErrors) return;

                const data = {
                    email: this.email,
                    password: this.password,
                    username: this.username
                }
                axios.post("http://localhost:5000/signup", data).then(response => {
                    if (response.status === 201) {
                        const accessToken = response.data.accessToken;
                        this.$store.commit('setToken', accessToken);
                        const payload = jwt_decode(accessToken);
                        const id = payload.sub;
                        this.$router.push('users/' +id);
                    }
                }).catch(err => {
                    if (err.response.data === "Email already exists") {
                        this.errors.email.push("This email is already registered.");
                    }
                })
            }
        }
    }
</script>

<style>
.errorInput{
    border-style: solid;
    border-color: red;
    border-width: 2px;
}
</style>
